{
  "plugins": ["prettier-plugin-go-template"],
  "goTemplateBracketSpacing": true,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
