{{- $heading := i18n "parameter_heading" }}
{{- $headingStartLevel := 2 }}
{{- $data := "" }}
{{- if .IsNamedParams }}
  {{- $data = .Get "data" }}
  {{- with .Get "heading" }}{{ $heading = . }}{{ end }}
  {{- with .Get "headingStartLevel" }}{{ $headingStartLevel = . }}{{ end }}
{{- else }}
  {{- $data = .Get 0 }}
{{- end }}
{{- with .Page.Resources.Get $data }}
  {{- $params := transform.Unmarshal . }}
  {{-  printf "%s %s\n" (strings.Repeat $headingStartLevel "#") $heading }}
  {{- $paramHeadingLevel := add 1 $headingStartLevel }}
  {{- range $params }}
    {{- $name := printf (cond (default false .deprecated) "~~`%s`~~" "`%s`") .name }}
    {{- printf "%s %s\n" (strings.Repeat $paramHeadingLevel "#") $name }}
    {{- printf
      "| %s | %s | %s | %s | %s |\n"
      (i18n "parameter_name")
      (i18n "parameter_type")
      (i18n "parameter_required")
      (i18n "parameter_default")
      (i18n "parameter_since")
    }}
    {{- printf "| --- | :-: | :-: | :-: | :-: |\n" }}
    {{- printf
      "| %s | `%s` | %s | %s | %s |\n"
      $name
      (default "string" .type)
      (cond (default false .required) "✓" "-")
      (cond (isset . "default") (printf "`%s`" (string .default)) "-")
      (cond (isset . "since") (printf "`%s`" (string .since)) "-")
    }}
    {{- printf "\n" }}
    {{- with .description }}
      {{- $desc := . }}
      {{- if reflect.IsMap $desc }}
        {{- $desc = default .default (index . (site.Language.LanguageCode | lower)) }}
      {{- end }}
      {{- $desc | $.Page.RenderString | printf "%s\n" | safeHTML }}
    {{- end }}
    {{- with .options }}
      {{- printf "\n" }}
      {{- delimit (apply . "printf" "`%s`" ".") ", " | i18n "parameter_options" }}
      {{- printf "\n" }}
    {{- end }}
  {{- end }}
{{- end }}
